.colorBlanco{
    color:#FFFFFF; 
    font-size: 3em;
}
.custom-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 370px; /* Máximo ancho */
    height: 142px; /* Altura fija */
    margin: auto; /* Centra el div en la columna */
    font-size: 1.4em;
    color: #07521a !important;
}
.custom-div {
    box-shadow: 0 0 0 1px #000, /* Este es el borde exterior */
                0 0 0 15px #fff, /* Este es el espacio entre los bordes */
                0 0 0 16px #000; /* Este es el borde interior */
}
/* Poner un marco a los botones de arriba */
.custom-div:hover {
    background-color: #07521a !important;
    color: #ffffff !important;
    box-shadow: 0 0 0 1px #e4dede, /* Este es el borde exterior */
                0 0 0 15px #07521a, /* Este es el espacio entre los bordes */
                0 0 0 16px #ffffff; /* Este es el borde interior */
}

.custom-div p:hover {
    color: #cc7614 !important;
}

.row > div {
    padding: 25px; /* Espaciado entre los div */
}

.imagen {
    width: 100px;
    height: 100px;
}

.accordion-button:not(.collapsed){
    background-color: #FFFFFF;
}
.opinion-cliente{
    font-size: 1.5rem;
    color: #000000;
}
.p-custom-margin {
    padding-left: 4rem; /* Ajusta este valor a tus necesidades */
}
/* Ajusta el tamaño de la imagen de las tarjetas para que no se hagan muy grandes al reducir la pantalla */
/* Se debe usar para una sola vez*/
.img-premio{
    text-align: center;
    max-width: 270px;
    max-height: 145px;
}
/* rectifco el alto de la tarjeta para que sea un mínimo de altura y quden todas iguales */
.card{
    min-height: 440px;
}